/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button::-moz-focus-inner {
    border: 0;
  }
  
  

/*
=====================
Real shit 
=====================
*/

body {
    background-color: rgb(11, 17, 32);
    font-family: sans-serif;
}

/*
=====================
Title
=====================
*/

.title {
    margin-top: 40px;
    color: rgb(216, 210, 210);
    text-align: center;
}

.title h1 {
    font-size: 35px;
}

.title h3 {
    margin-top: 15px;
}

/*
=====================
Calculator
=====================
*/

.container {
    float: left;
    padding: 7px 9px 7px 9px;
    margin-left: 410px;
    margin-top: 100px;
    border: 2px solid #888585b2;
    width: 230px;
}

.container #display {
    background-color: rgb(12, 15, 15);
    color: rgb(205, 214, 213);
    font-size: 25px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px 3px 5px 3px;
    border: 1px solid #88858588;
    width: 223px;
    overflow: visible;
}

.container .but {
    background-color: rgb(20, 20, 88);
    color: white;
    border: 0.5px solid #88858573;
}

.container .but:hover {
    background-color: rgba(47, 82, 148, 0.74);
}

.container .but:active {
    background-color: rgb(47, 82, 148);
}

.container .row-1 {
    float: left;
    width: 25%;
    height: 40px;
}

.container .row-2 {
    float: left;
    width: 25%;
    height: 40px;
}

.container .row-3 {
    float: left;
    width: 25%;
    height: 40px;
}

.container .row-4 {
    float: left;
    width: 25%;
    height: 40px;
}


.container .row-5 {
    float: left;
    width: 25%;
    height: 40px;
}

/*
=====================
Log
=====================
*/

.log {
    float: left;
    margin-left: 60px;
    margin-top: 100px;
    height: 253px;
    width: 190px;
}

.log textarea {
    text-align: right;
    background-color: rgb(9, 9, 54);
    color: white;
    border: 0.5px solid #88858573;
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.log button {
    float: left;
    margin-left: 117px;
    width: 95px;
    height: 30px;
    background-color: rgb(22, 24, 26);
    color: white;
    border: 0.5px solid #88858573;
}

.log button:hover {
    background-color: #30333588;
}

.log button:active {
    background-color: #303335;
}